<main>
	<h1>Welcome to KingUni Wiki!</h1>
	<section>
		<h2>All articles</h2>
		<div class="spacer">
			<ul>
				{{#each titles}}
				<li>
					<a href="article/{{this}}">{{this}}</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</section>
</main>