<main>
	<h1>Welcome to KingUni Wiki!</h1>
	<section id="notifications">
		<p>Article description should be at least 20 characters long...</p>
	</section>
	<section>
		<h2>Edit article</h2>
		{{>notifications}}

		<div class="spacer">
			<form action="/edit/{{id}}" method="POST">
				<label>Article title</label>
				<input
					type="text"
					class="title"
					name="title"
					value="{{title}}"
				/>
				<label>Content</label>
				<textarea name="content">{{content}}</textarea>
				<input type="submit" value="Submit" />
				<input type="hidden" name="id" value="{{id}}" />

			</form>
		</div>
	</section>
</main>