<main>
	{{!-- <h1>Welcome to KingUni Wiki!</h1> --}}
	<section id="featured">
		<h2>Latests articles</h2>
		{{>notifications}}
		{{#each articles}}
		<article>
			<h3>{{title}}</h3>
			<p>
				{{content}},&hellip;
			</p>
		
			<div class="controls">
				<a href="article/{{title}}">Read more</a>
			</div>
		</article>
		{{/each}}
	</section>
</main>
